@min_width: 1024px;
@max_width: 1920px;
@center_width: 960px;
@fullscreen_width: 100%;
@main_p_img_sub_left: 75%;
@main_p_img_sub_hdmi_left: 25%;
@icon_more_width: 1234px;
@color_blue: #52aed7;
/*
    产品详细页面公用
*/

/*产品页面头部*/
.pro_header_container {
    width: 100%;
    padding: 26px 0;
    background-color: #f6f7f7;
    border-bottom: 3px solid #eeeded;

    .pro_header_box {
        width: @min_width;
        margin: 0 auto;

        .header_title {
            font-size: 24px;
            float: left;
            margin-left: 30px;
            color: #333333;
        }

        .properties_box {
            margin-left: 100px;
            float: left;

            .item {
                margin-left: 28px;
                float: left;

                a {
                    font-size: 20px;
                    color: #333333;
                    text-decoration: none;
                }

                a.current {
                    color: #7bbb31;
                }

                a:hover {
                    color: #7bbb31;
                }
            }
        }
    }
}

/*产品页面头部*/

.align-center {
    text-align: center;
}

.center_width {
    width: @center_width;
}

.fullscreen_width {
    width: @fullscreen_width;
}

.img_fullscreen {
    width: @fullscreen_width;
    overflow: hidden;
}

.bg_container {
    position: relative;
    margin: 0 auto;
    z-index: 100;
    width: 100%;
    min-width: @min_width;
    max-width: @max_width;
    text-align: center;
}

.on_container(@top,@left) {
    position: absolute;
    top: @top;
    left: @left;
}

.main_p_img_sub {
    margin: 0 auto;
    width: 1364px;
    margin-top: 40px;

    .left {
        float: left;

        img {
        }
    }

    .right {
        float: left;
        margin-top: 50px;
        margin-left: 127px;

        .title {
            text-align: left;
            padding-top: 52px;

            span {
                font-size: 30px;
                font-weight: bold;
            }

            span.blue {
                color: @color_blue;
            }

            span.morebold {
                font-weight: 900;
            }
        }

        .sub_title {
            text-align: left;
            margin-top: 5px;
            margin-bottom: 40px;

            span {
                font-size: 20px;
            }
        }

        .item {
            text-align: left;
            margin-top: 35px;

            .item_img {
                float: left;
            }

            .item_title {
                float: left;
                line-height: 88px;
            }
        }
    }
}

@media (min-width:1180px) and (max-width:1364px) {
    .main_p_img_sub {
        width: 1170px;

        .right {
            width: 340px;
        }
    }
}

@media screen and (max-width:1180px) {
    .main_p_img_sub {
        width: 1010px;

        .right {
            margin-left: 20px;
            width: 340px;
        }

        .left {
            img {
            }
        }
    }
}

.bg_hdmi_container {
    .on_container(5%,20%);
    z-index: 1000;
    width: 61.5%;
    /*margin-left:20%;*/
}


.main_p_img_sub_hdmi {
    width: 100%;
    margin: 0 auto;
}

.bg_hdmi_container_top {
    .on_container(4%,0%);
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    width: 100%;
}

.main_p_img_sub_hdmi_bgimg {
    width: 100%;
}

.main_p_img_sub_hdmi .left {
    width: 65.30%;
    float: left;
    margin-top: 8%;
}

.main_p_img_sub_hdmi .left .title {
    float: right;
    margin-right: 25px;
    margin-bottom: 10px;
    color: @color_blue;
}

.main_p_img_sub_hdmi .left .item img {
    width: @fullscreen_width;
}

.main_p_img_sub_hdmi .right {
    width: 24.50%;
    float: left;
    margin-left: 9.5%;
}

.main_p_img_sub_hdmi .right .title {
    color: @color_blue;
    text-align: center;
    font-weight: bold;
}

.main_p_img_sub_hdmi .right .item {
    margin-top: 10px;
}

.main_p_img_sub_hdmi .right .item img {
    width: 100%;
}

.icon_more {
    width: @fullscreen_width;
}

.icon_more img {
    width: @fullscreen_width;
}

.main_p_img_sub_cpu {
    .on_container(100px,270px);
    z-index: 1000;
    margin: 0 auto;
}

.main_p_img_sub_cpu_bgimg {
    width: 100%;
}

.main_p_img_sub_cpu .item {
    float: left;
}

.main_p_img_sub_robots_bg {
    margin-top: 200px;
    max-width: 1362px;
}

.main_p_img_sub_robots_bgimg {
    width: 52.45%;
    max-width: 596px;
    display: block;
    margin: 0 auto;
}

.main_p_img_sub_robots {
    .on_container(-45%,0);
    z-index: 1000;
    width: 100%;
    margin: 0 auto;
}

.main_p_img_sub_robots .item {
    float: left;

    img {
        width: 100%;
    }
}

.main_p_img_sub_robots .left {
    width: 42.7%;
}

.main_p_img_sub_robots .center {
    width: 17.30%;
    margin-top: 5%;
}

.main_p_img_sub_robots .right {
    width: 39.90%;
}

.main_p_img_sub_cpudetail_bg {
    width: @fullscreen_width;
    margin: 0 auto;
}

.main_p_img_sub_cpudetail_bgimg {
    width: 100%;
}

.main_p_img_sub_memory {
    width: 54.94%;
    margin: 50px auto;

    .top {
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 40px;
    }

    .left {
        width: 40%;
    }

    .right {
        width: 40%;
        margin-left: 20%;
    }

    .item {
        float: left;

        .title {
            text-align: center;
            font-size: 20px;
            font-weight: 900;
            margin-bottom: 20px;
        }

        img {
            width: 100%;
        }
    }
}

.main_p_img_sub_games {
    margin: 0 auto;
    .on_container(0,0);
    z-index: 1000;
    width: @fullscreen_width;
}

.main_p_img_sub_games_bgimg {
    width: 100%;
    height: 100%;
}

.main_p_img_sub_games .title {
    font-size: 24px;
    font-weight: 900;
    text-align: center;
    padding-top: 10px;
}

.main_p_img_sub_games .item img {
    width: @fullscreen_width;
}

.main_p_img_sub_games .top {
    margin-top: 0px;
    width: @fullscreen_width;
}

.main_p_img_sub_games .bottom {
    margin-top: -84px;
    width: @fullscreen_width;
}

.main_p_img_sub_signage_top {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 40px;
}

.main_p_img_sub_signage_top .title {
    font-size: 28px;
    color: @color_blue;
    font-weight: 900;
}

.main_p_img_sub_signage_top .sub_title {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}


.bg_signage_container {
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 100;
    width: 1402px;
    text-align: left;

    .bg_signage_container_bgimg {
    }
}

.main_p_img_sub_signage {
    top: 49px;
    left: 897px;
    z-index: 1000;
    position: absolute;

    .top {
    }

    .bottom {
    }

    .item .title {
        color: @color_blue;
        text-align: center;
        font-size: 18px;
    }

    .item img {
    }
}

@media (min-width:1200px) and (max-width:1402px) {
    .main_p_img_sub_signage {
        top: 30px;
        left: 735px;

        .top {
            img {
                width: 440px;
            }
        }

        .bottom {
            img {
                width: 440px;
            }
        }
    }

    .bg_signage_container {
        width: 1190px;

        .bg_signage_container_bgimg {
            width: 790px;
        }
    }
}

@media screen and (max-width:1200px) {
    .main_p_img_sub_signage {
        top: 23px;
        left: 633px;

        .top {
            img {
                width: 370px;
            }
        }

        .bottom {
            img {
                width: 370px;
            }
        }
    }

    .bg_signage_container {
        width: 1010px;

        .bg_signage_container_bgimg {
            width: 680px;
        }
    }
}

.main_p_img_sub_rotation {
    margin: 50px auto;
    width: 70.72%;
}

.main_p_img_sub_rotation .item {
    float: left;
    height: 100%;

    img {
        width: 100%;
    }
}


.main_p_img_sub_rotation .left {
    text-align: center;
    width: 48.30%;

    img {
        max-width: 656px;
    }

    .title {
        font-size: 28px;
        color: @color_blue;
        font-weight: 900;
    }

    .sub_title {
        font-size: 24px;
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}


.main_p_img_sub_rotation .center {
    img {
        max-width: 61px;
    }

    margin-left: 4.49%;
    margin-top: 22%;
    width: 4.49%;
}

.main_p_img_sub_rotation .right {
    margin-left: 4.49%;
    width: 38.21%;

    img {
        max-width: 519px;
    }
}

.main_p_img_sub_assistant_top {
    text-align: center;

    .title {
        font-size: 28px;
        color: @color_blue;
        font-weight: 900;
    }

    .sub_title {
        font-size: 22px;
    }
}

.main_p_img_sub_assistant_bg {
    margin: 0 auto;
    position: relative;
    z-index: 100;
    margin-top: 100px;
    width: 87.39%;
}

.main_p_img_sub_assistant_bg .item {
    float: left;
    width: 19.30%;
}

.main_p_img_sub_assistant_bg .item img {
    width: 100%;
}

.main_p_img_sub_assistant_bg .sepearte {
    margin-left: 20.50%;
}

.main_p_img_sub_assistant {
    .on_container(-17%,37%);
    z-index: 1000;
    width: 23.80%;
}

.main_p_img_sub_assistant img {
    width: 100%;
}

.bg_wifi_container_bgcolor {
    background-color: #E3E3E3;
    width: 100%;
    padding-bottom: 70px;
    padding-top: 70px;
}

.bg_wifi_container {
    width: 1144px;
    position: relative;
    margin: 0 auto;
    text-align: left;

    .wifi_bgimg {
    }

    .wifi_top {
        z-index: 1000;
        top: 10px;
        left: 814px;
        position: absolute;

        img {
        }
    }

    .wifi_bottom {
        z-index: 1000;
        top: 136px;
        left: 633px;
        position: absolute;

        img {
        }
    }
}

@media screen and (max-width:1144px) {
    .bg_wifi_container {
        width: 1000px;
        position: relative;
        margin: 0 auto;
        text-align: left;

        .wifi_bgimg {
            width: 680px;
        }

        .wifi_top {
            z-index: 1000;
            top: 10px;
            left: 718px;
            position: absolute;

            img {
                width: 280px;
            }
        }

        .wifi_bottom {
            z-index: 1000;
            top: 136px;
            left: 553px;
            position: absolute;

            img {
                width: 430px;
            }
        }
    }
}

/*HPH Meeting Box*/
.meetingbox_large_title_blue {
    font-size: 30px;
    font-weight: bold;
    color: #78c3ef;
}

.meetingbox_large_title_white {
    font-size: 30px;
    font-weight: bold;
    color: #FFFFFF;
}

.meetingroom_outside {
    background-color: #F2F2F2;
    width: 100%;
    padding: 60px 0 50px 0;

    .head_title {
        font-size: 30px;
        font-weight: bold;
        color: #78c3ef;
        font-family: 'Microsoft YaHei';
        text-align: center;
    }

    .bottom_title {
        font-size: 24px;
        color: #333333;
        font-family: 'Microsoft YaHei';
        text-align: center;
    }
}

.main_p_img_sub_meetingroom {
    background-color: #F2F2F2;
    width: 1000px;
    position: relative;
    margin: 0 auto 130px auto;

    .bg_img {
        margin: 0 auto;
    }

    .computer {
        position: absolute;
        left: -9%;
        top: 73%;
    }

    .pad {
        right: 3%;
        top: 71%;
        position: absolute;
    }

    .phone {
        right: 14%;
        top: 85%;
        position: absolute;
    }
}

@media screen and (max-width: 1200px) {
    .main_p_img_sub_meetingroom {
        .bg_img {
            width: 70%;
        }

        .computer {
            left: -3%;
            top: 72%;
            width: 30%;
        }

        .pad {
            right: 7%;
            top: 70%;
            width: 14%;
        }

        .phone {
            right: 16%;
            top: 81%;
            width: 8%;
        }
    }
}


.main_p_img_sub_functionsinone {
    position: relative;
    background-image: url(../../../Media/Default/Products/HPH-Meeting-Box/bg2.jpg);
    width: 100%;
    height: 800px;
    margin-top: 52px;

    .functionsinone_box {
        width: 1020px;
        margin: 0 auto;

        .header_title {
            font-size: 30px;
            font-weight: bold;
            color: #78c3ef;
            font-family: 'Microsoft YaHei';
            text-align: center;
            width: 100%;
            padding-top: 40px;
            margin-bottom: 50px;
        }

        .left {
            float: left;

            .function_1_img {
            }

            .function_2_img {
            }
        }

        .right {
            float: left;
            margin-left: 100px;
            padding-top: 34px;

            .line {
                margin-top: 40px;

                .camera {
                    float: left;
                    width: 110px;
                }

                .encoder {
                    float: left;
                    margin-left: 70px;
                    width: 140px;
                }

                .microphone {
                    float: left;
                    width: 110px;
                }

                .speaker {
                    float: left;
                    margin-left: 70px;
                    width: 140px;
                }

                .wifi {
                    float: left;
                    width: 110px;
                }

                .bracket {
                    float: left;
                    margin-left: 70px;
                    width: 140px;
                }
            }
        }
    }

    .icon_title {
        font-size: 16px;
        color: #FFFFFF;
        text-align: center;
    }
}

.main_p_img_sub_zoomcamera {
    margin: 0 auto;
    text-align: center;
}


@media screen and (max-width: 1400px) {
    .main_p_img_sub_zoomcamera {
        .bg_img {
            width: 1000px;
        }
    }
}

.main_p_img_sub_cpuandgpu {
    position: relative;
    background-image: url(../../../Media/Default/Products/HPH-Meeting-Box/bg4.jpg);
    width: 100%;
    height: 800px;

    .cpu_gpu_box {
        top: 140px;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        text-align: center;
        margin: auto;
        width: 970px;

        .cpu_box {
            float: left;

            .cpu_img {
            }

            .cpu_title {
                .meetingbox_large_title_blue;
                margin-top: 40px;
            }

            .cpu_sub_title {
                .meetingbox_large_title_white;
                margin-top: 40px;
            }
        }

        .gpu_box {
            float: left;
            margin-left: 250px;

            .gpu_img {
            }

            .gpu_title {
                .meetingbox_large_title_blue;
                margin-top: 40px;
            }

            .gpu_sub_title {
                .meetingbox_large_title_white;
                margin-top: 40px;
            }
        }
    }
}

.main_p_img_sub_meeting {
    width: 100%;

    .bg_img {
        width: 100%;
    }
}

.main_p_img_sub_cameradetail {
    width: 100%;
    position: relative;

    .bg_img {
        width: 100%;
    }

    .header_title {
        position: absolute;
        top: 6%;
        left: 22%;
        text-align: left;

        .camera_title {
            .meetingbox_large_title_blue;
        }

        .camera_sub_title {
            margin-top: 3%;
            line-height: 31px;
            font-size: 20px;
            color: #FFFFFF;
        }
    }
}

.main_p_img_sub_wide_angle {
    width: 100%;
    margin: 35px 0 20px 0;
    text-align: center;

    .wide_angle_title {
        .meetingbox_large_title_blue;
    }

    .wide_angle_sub_title {
        margin-top: 20px;
        line-height: 31px;
        font-size: 20px;
    }
}

.main_p_img_sub_wide_angle_degree {
    width: 100%;
    position: relative;

    .bg_img {
        width: 100%;
    }
}

.main_p_img_sub_micro_voice {
    width: 100%;
    margin: 80px 0 60px 0;
    text-align: center;

    .micro_voice_title {
        .meetingbox_large_title_blue;
    }

    .micro_voice_sub_title {
        margin-top: 45px;
        line-height: 31px;
        font-size: 20px;
    }
}

.main_p_img_sub_voice {
    width: 100%;
    position: relative;

    .bg_img {
        width: 100%;
    }
}


.main_p_img_sub_speaker {
    position: relative;
    background-image: url(../../../Media/Default/Products/HPH-Meeting-Box/bg8.jpg);
    width: 100%;
    height: 800px;

    .speaker_box {
        top: 130px;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        text-align: center;
        margin: auto;
        width: 1150px;

        .speaker_title {
            .meetingbox_large_title_blue;
            margin-bottom: 100px;
        }

        .speaker_img {
            float: left;
        }

        .speaker_desc {
            width: 600px;
            margin-left: 64px;
            float: left;
            font-size: 20px;
            text-align: left;
            margin-top: 50px;
            line-height: 34px;
        }
    }
}

@media screen and (max-width:1150px) {
    .main_p_img_sub_speaker {
        .speaker_box {
            width: 1020px;

            .speaker_img {
                img {
                    width: 400px;
                }
            }

            .speaker_desc {
                margin-left: 20px;
                margin-top: 24px;
            }
        }
    }
}

.main_p_img_sub_360dregree {
    width: 100%;
    position: relative;

    .bg_img {
        width: 100%;
    }
}

.main_p_img_sub_two_solution {
    position: relative;
    width: 1120px;
    margin: 44px auto;
    text-align: center;

    .solution_title {
        .meetingbox_large_title_blue;
        margin-bottom: 82px;
    }

    .solution_first {
        float: left;
    }

    .solution_second {
        margin-left: 26px;
        float: left;
    }
}

@media screen and (max-width:1120px) {
    .main_p_img_sub_two_solution {
        width: 1020px;

        .solution_first {
            img {
                height: 660px;
            }
        }

        .solution_second {
            margin-left: 18px;

            img {
                height: 660px;
            }
        }
    }
}

.main_p_img_sub_cloudservice {
    width: 100%;
    position: relative;
    text-align: center;

    .bg_img {
        width: 100%;
    }

    .cloudservice_title_box {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        padding-top: 36px;
        margin: auto;

        .cloudservice_title {
            .meetingbox_large_title_blue;
        }

        .cloudservice_sub_title {
            .meetingbox_large_title_white;
            font-weight: normal;
        }
    }
}

.main_p_img_sub_N8_all_paras {
    position: relative;
    background-image: url(../../../Media/Default/Products/NT-N8-RK3229/1bg.jpg);
    width: 100%;
    height: 846px;
    text-align: center;

    .pro_title {
        .meetingbox_large_title_blue;
        color: #333333;
        text-align: center;
        margin-top: 44px;
    }

    .paras_img {
        margin-top: 760px;
    }
}

.main_p_img_sub_N8_hph_ui {
    width: 100%;
    text-align: center;

    .pro_title {
        font-size: 34px;
        color: #333333;
        text-align: center;
        margin-top: 70px;
    }
}

@media screen and (max-width:1220px) {
    .main_p_img_sub_N8_hph_ui {
        .pro_title {
            margin-top: 60px;
        }

        .hph_ui_img {
            width: 1020px;
        }
    }
}


.main_p_img_sub_N8_true_4k {
    position: relative;
    background-image: url(../../../Media/Default/Products/NT-N8-RK3229/3bg.jpg);
    width: 100%;
    height: 894px;
    text-align: center;
    padding-top: 56px;

    .pro_title {
        font-size: 34px;
        color: #FFFFFF;
        text-align: center;
    }
}

.main_p_img_sub_N8_kodi {
    position: relative;
    width: 100%;
    text-align: center;

    .pro_title {
        font-size: 34px;
        color: #333333;
        text-align: center;
        margin-top: 56px;
    }

    .pro_sub_title {
        color: #787878;
        font-size: 24px;
        text-align: center;
        margin-top: 40px;
    }

    .kodi_img {
        margin-top: 80px;
    }
}

@media (min-width:1300px) and (max-width:1688px) {
    .main_p_img_sub_N8_kodi {
        .kodi_img {
            width: 1300px;
        }
    }
}

@media screen and (max-width:1300px) {
    .main_p_img_sub_N8_kodi {
        .kodi_img {
            width: 1020px;
        }
    }
}


.main_p_img_sub_N8_nagrace_market {
    position: relative;
    width: 100%;
    text-align: center;

    .nagrace_market_img {
        margin-top: 60px;
    }
}

@media (min-width:1024px) and (max-width:1300px) {
    .main_p_img_sub_N8_nagrace_market {
        .nagrace_market_img {
            width: 1000px;
        }
    }
}

.main_p_img_sub_stable_system {
    position: relative;
    width: 100%;
    text-align: center;
    background-color: #E7E5E6;
    margin: 0 auto;
    padding-top: 56px;

    .pro_title {
        font-size: 34px;
        color: #333333;
        text-align: center;
    }

    .pro_sub_title {
        color: #787878;
        font-size: 24px;
        text-align: center;
        margin-top: 30px;
    }

    .stable_system_img {
        margin-top: 30px;
    }
}

.main_p_img_sub_iptv {
    position: relative;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding-top: 56px;

    .pro_title {
        font-size: 34px;
        color: #333333;
        text-align: center;
    }

    .pro_sub_title {
        color: #787878;
        font-size: 24px;
        text-align: center;
        margin-top: 30px;
    }

    .iptv_img_box {
        margin-top: 30px;
        padding-right: 12px;

        .iptv_img {
            float: left;
            margin-left: 12px;
            margin-top: 20px;
        }
    }
}

@media screen and (min-width:1750px) {
    .main_p_img_sub_iptv {
        width: 1732px;
    }
}

@media (min-width:1176px) and (max-width:1750px) {
    .main_p_img_sub_iptv {
        width: 1166px;
    }
}

@media screen and (max-width:1176px) {
    .main_p_img_sub_iptv {
        width: 1020px;

        .iptv_img_box {
            .iptv_img {
                img {
                    height: 285px;
                }
            }
        }
    }
}

.main_p_img_sub_N8_bits {
    position: relative;
    width: 1376px;
    text-align: center;
    margin: 0 auto;
    padding-top: 56px;

    .N8_bits_img {
        margin-top: 30px;
    }

    .p_desc_box {
        position: absolute;
        width: 100%;
        z-index: 1000;
        left: 0;
        bottom: -120px;

        .p_desc {
            width: 50%;
            float: left;
            text-align: center;
        }
    }
}


@media screen and (max-width:1376px) {
    .main_p_img_sub_N8_bits {
        width: 1020px;

        .N8_bits_img {
            width: 1020px;
        }

        .p_desc_box {
            bottom: -120px;
        }
    }
}

.bg_airplay_container_bgcolor {
    background-color: #E3E3E3;
    width: 100%;
    padding-bottom: 70px;
    padding-top: 70px;
}

.bg_airplay_container {
    width: 1144px;
    position: relative;
    margin: 0 auto;
    text-align: left;

    .airplay_bgimg {
    }

    .airplay_top {
        z-index: 1000;
        top: 10px;
        left: 814px;
        position: absolute;

        img {
        }
    }

    .airplay_bottom {
        z-index: 1000;
        top: 136px;
        left: 633px;
        position: absolute;

        img {
        }
    }
}

@media screen and (max-width:1144px) {
    .bg_airplay_container {
        width: 1000px;
        position: relative;
        margin: 0 auto;
        text-align: left;

        .airplay_bgimg {
            width: 680px;
        }

        .airplay_top {
            z-index: 1000;
            top: 10px;
            left: 718px;
            position: absolute;

            img {
                width: 280px;
            }
        }

        .airplay_bottom {
            z-index: 1000;
            top: 136px;
            left: 553px;
            position: absolute;

            img {
                width: 430px;
            }
        }
    }
}


.main_p_img_sub_lehome_assistant {
    position: relative;
    width: 1584px;
    text-align: center;
    margin: 0 auto;
    padding-top: 56px;

    .pro_title {
        font-size: 34px;
        color: #333333;
        text-align: center;
    }

    .pro_sub_title {
        color: #787878;
        font-size: 24px;
        text-align: center;
        margin-top: 30px;
    }

    .assistant_img_box {
        margin-top: 100px;
        position: relative;

        .separate_img {
            margin-left: 340px;
        }

        .assistant_img {
            float: left;
        }

        .assistant_absolute_img {
            left: 617px;
            top: -81px;
            position: absolute;
        }
    }
}

@media (min-width:1200px) and (max-width:1580px) {
    .main_p_img_sub_lehome_assistant {
        width: 1200px;

        .assistant_img_box {
            position: relative;
            margin-top: 100px;

            .separate_img {
                margin-left: 260px;
            }

            .assistant_img {
                float: left;

                img {
                    width: 235px;
                }
            }

            .assistant_absolute_img {
                left: 466px;
                top: -64px;
                position: absolute;

                img {
                    width: 270px;
                }
            }
        }
    }
}

@media screen and (max-width:1200px) {
    .main_p_img_sub_lehome_assistant {
        width: 1000px;

        .assistant_img_box {
            position: relative;
            margin-top: 100px;

            .separate_img {
                margin-left: 220px;
            }

            .assistant_img {
                float: left;

                img {
                    width: 195px;
                }
            }

            .assistant_absolute_img {
                left: 388px;
                top: -56px;
                position: absolute;

                img {
                    width: 230px;
                }
            }
        }
    }
}

.main_p_img_sub_bluetooth4_bgcolor {
    background-color: #e7e5e6;
    margin-top: 140px;
}

.main_p_img_sub_bluetooth4 {
    position: relative;
    width: 1460px;
    text-align: center;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 40px;

    .pro_title {
        font-size: 34px;
        color: #333333;
        text-align: center;
    }

    .pro_sub_title {
        color: #787878;
        font-size: 24px;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 50px;
    }

    .bluetooth4_img_box {
        margin-right: 18px;
        margin-top: 15px;
        position: relative;

        .bluetooth4_img {
            float: left;
            margin-left: 18px;
            margin-top: 18px;
        }
    }
}

.main_p_img_sub_N8_remote_control {
    position: relative;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding-top: 43px;

    .pro_title {
        font-size: 34px;
        color: #333333;
        text-align: center;
        font-weight: bold;
    }

    .remote_control_img {
    }
}

.main_p_img_sub_antutu_bgcolor {
    background-color: #272727;
}

.main_p_img_sub_antutu {
    width: 1486px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 130px;

    .pro_header_img {
        margin-top: 60px;
    }

    .antutu_img_box {
        margin-top: 38px;

        .antutu_img_left {
            float: left;
        }

        .antutu_img_right {
            margin-left: 50px;
            float: left;
        }
    }
}

@media (min-width:1200px) and (max-width:1486px) {
    .main_p_img_sub_antutu {
        width: 1180px;

        .antutu_img_box {
            .antutu_img_left {
                img {
                    height: 324px;
                }
            }

            .antutu_img_right {
                margin-left: 35px;

                img {
                    height: 324px;
                }
            }
        }
    }
}

@media screen and (max-width:1200px) {
    .main_p_img_sub_antutu {
        width: 1015px;

        .antutu_img_box {
            .antutu_img_left {
                img {
                    height: 281px;
                }
            }

            .antutu_img_right {
                margin-left: 15px;

                img {
                    height: 281px;
                }
            }
        }
    }
}

.main_p_img_sub_N8_two_solution_bgcolor {
    background-color: #e7e5e6;
    padding-bottom: 142px;
}

.main_p_img_sub_N8_two_solution {
    position: relative;
    width: 1100px;
    margin: 0 auto;
    text-align: center;
    padding-top: 82px;

    .solution_title {
        .meetingbox_large_title_blue;
        color: #333333;
    }

    .solution_sub_title {
        font-size: 34px;
    }

    .solution_first {
        float: left;
    }

    .solution_second {
        margin-left: 26px;
        float: left;
    }
}

@media screen and (max-width:1120px) {
    .main_p_img_sub_N8_two_solution {
        width: 1016px;

        .solution_first {
            img {
                height: 640px;
            }
        }

        .solution_second {
            margin-left: 18px;

            img {
                height: 640px;
            }
        }
    }
}
