@blog-site-width: 1024px;

html body {
    background-color: #dedede;
}

#layout-wrapper {
    width: @blog-site-width;
    background-color: #FFFFFF;
    margin: 0 auto;
}

#layout-header, #layout-featured, #layout-before-main, #layout-main, #layout-footer, #layout-after-main, #layout-tripel {
    width: @blog-site-width;
    margin: 0 auto;
}

#layout-header {
    width: 300px;
}

#layout-navigation {
    width: @blog-site-width;
    height: 110px;
    border-bottom: 2px solid #f6f7f7;
}

ul.recent-posts {
    list-style-type: none;

    li {
        list-style-type: none;
    }

    li a {
        color: #76a934;
        font-size: 12px;
    }
}

.list_header {
    background-color: #ededed;
    font-size: 16px;
    line-height: 30px;
    padding-left: 12px;
    margin-top: 15px;
}

ul.navbar-nav {
    float: right;
    padding-right: 30px;
    margin-top: 20px;

    li a {
        font-size: 18px;
    }
}

#branding {
    width: 300px;
    position: absolute;
    top: -2px;

    .brand_img1 {
        margin-top: 0;
    }

    .brand_img2 {
        margin-top: -40px;
    }
}

.aside-2 #layout-content {
    float: left;
    width: 658px;
}

ul.blog-posts {
    li {
        border-bottom: 1px solid #dbdbdb;
        padding-bottom:20px;
    }
}

.blog_post-thumbnail {
    width: 252px;
    height: 190px;
    float: left;
    margin: 0 10px;
}

a.blog_post_title {
    color: #76a934;
}

a.blog_post_title:hover, a.blog_post_title:focus {
    color: #23527c;
    text-decoration: none;
}

ul.blog-post-nav-comments {
    margin: 1.5em;
    padding: 0;
    list-style: none;

    li {
        margin: 6px 0 0 0;

        a {
            color: #76a934;
            font-size: 12px;
        }
    }
}

ul.tag-cloud {
    li {
        margin-left: 5px;

        a {
            color: #76a934;
            font-size: 12px;
        }
    }
}

.follow_us_icon_box {
    margin-top: 10px;
    padding-left: 15px;

    a {
        text-decoration: none;

        img {
        }
    }

    a:hover {
        text-decoration: none;
    }
}

#layout-footer {
    padding: 20px 0 0 0;
    width: 100%;
}

#footer {
    width: 100%;
}

#footer-quad {
    width: 960px;
    margin: 0 auto;
}

#footer-sig {
    width: 100%;
    background-color: #f6f7f7;
    padding: 30px 0;
    margin-top: 20px;
}

.credits {
    margin: 0 auto;
    width: 510px;

    .copyright {
        font-size: 18px;
        color: #333333;
    }
}

.zone {
    padding: 12px;
}
