@blog-site-width: 1024px;


#layout-header, #layout-featured, #layout-before-main, #layout-main, #layout-footer, #layout-after-main, #layout-tripel {
    width: @blog-site-width;
    margin: 0 auto;
}

#layout-header {
    width: 300px;
}

#layout-navigation {
    width: @blog-site-width;
}
