@using Orchard.Advertise.Extensions;
@using Orchard.Advertise.Models;
@{
    Style.Require("AdvertiseAdmin");
}
@if (AuthorizedFor(Orchard.Advertise.Permissions.ManageAdvertise)) {
<div class="item-properties actions">
    <p><a href="@Url.AdvertiseEdit((AdvertisePart)Model.ContentPart)" class="edit">@T("Advertise Properties")-dfadfdasfdsaf</a></p>
</div>
}