@{ 
    Style.Require("FeaturedProduct");

}

    @if (Model.ContentPart.IsOnSale) {
        <p class="label-onsale">@T("ON SALE!")</p>
    }
    <p>@T("Today's featured product is the Sprocket 9000.")</p>

    @if (!Model.IsOnFeaturedProductPage) {
        <p>
            <a href="~/sprocket-9000" class="btn-featuredproduct">@T("Click here to view it.")</a>
        </p>
    }
    else {
        <p class="box-moreinfoavailable">@T("Read more about it on this page.")</p>
    }

