@using Orchard.Comments.Models
@{
    //CommentsPart commentsPart = Model.ContentPart;

    // add 'comments' class on the list container
    Model.List.Classes.Add("blog-post-nav-comments");
}
<div class="list_header">
    RECENT COMMENTS
</div>
@Display(Model.List)