@model Orchard.LearnOrchard.FeatureProduct.Models.FeaturedProductPart

<fieldset>
    <div class="editor-label">
        @Html.LabelFor(model => model.IsOnSale,T(Html.DisplayNameFor(model=>model.IsOnSale).ToHtmlString()))
    </div>
    <div class="editor-field">
        @Html.CheckBoxFor(model => model.IsOnSale)
        @Html.ValidationMessageFor(model => model.IsOnSale)
    </div>
</fieldset>
